<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_OrderFoodApp"
        tools:targetApi="31">
        <activity
            android:name=".view.Message01"
            android:exported="false" />
        <activity
            android:name=".view.TrackingOrder"
            android:exported="false" />
        <activity
            android:name=".view.MyAddress"
            android:exported="false" />
        <activity
            android:name=".view.EditProfile"
            android:exported="false" />
        <activity
            android:name=".view.PersonalInformation"
            android:exported="false" />
        <activity
            android:name=".view.MyMainMenu"
            android:exported="false" />
        <activity
            android:name=".view.Welcome"
            android:exported="false" />
        <activity
            android:name=".view.PaymentSuccess"
            android:exported="false" />
        <activity
            android:name=".view.AddCard"
            android:exported="false" />
        <activity
            android:name=".view.PaymentMethodNoMC"
            android:exported="false" />
        <activity
            android:name=".view.PaymentMethod"
            android:exported="false" />
        <activity
            android:name=".view.MyCart"
            android:exported="false" />
        <activity
            android:name=".view.MyCartRecycleView"
            android:exported="false" />
        <activity
            android:name=".view.LocationAccess"
            android:exported="false" />
        <activity
            android:name=".view.AddNewCategory"
            android:exported="false" />
        <activity
            android:name=".view.ReviewScreen"
            android:exported="false" />
        <activity
            android:name=".view.Messages"
            android:exported="false" />
        <activity
            android:name=".view.Notification"
            android:exported="false" />
        <activity
            android:name=".view.Menu"
            android:exported="false" />
        <activity
            android:name=".view.ChefFoodDetail"
            android:exported="false" />
        <activity
            android:name=".view.AddNewItems"
            android:exported="false" />
        <activity
            android:name=".view.MyFood"
            android:exported="false" />
        <activity
            android:name=".view.SellerDashboardHome"
            android:exported="false" />
        <activity
            android:name=".view.Filter"
            android:exported="false" />
        <activity
            android:name=".view.RestaurantView"
            android:exported="false" />
        <activity
            android:name=".view.FoodDetail"
            android:exported="false" />
        <activity
            android:name=".view.Search"
            android:exported="false" />
        <activity
            android:name=".view.Home"
            android:exported="false" />
        <activity
            android:name=".view.Onboarding"
            android:exported="false" />
        <activity
            android:name=".view.FortgotPassword"
            android:exported="false" />
        <activity
            android:name=".view.Verification"
            android:exported="false" />
        <activity
            android:name=".view.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.SignIn"
            android:exported="false" />
        <activity
            android:name=".view.AddNewAddress"
            android:exported="false" /> <!-- android:theme="@style/AppTheme"   Theme light -->
        <activity
            android:name=".view.MyOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>